# api envs
API_HOST=...
API_PORT=...

# database envs
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_HOST=...
POSTGRES_PORT=...
POSTGRES_DB=...
POSTGRES_URL=...

# redis envs
REDIS_HOST=...
REDIS_PORT=...

# jwt envs
JWT_PUBLIC=...
JWT_ALGORITHM=...